
.cotizacion-title
  margin 20px 0 40px 0


.cotizacion-paso2-descrip
  display flex

.cotizacion-btn
  margin-top 30px

.cotizacion-paso2-descrip-cobertura
  display flex
  flex-direction column
.cotizacion-paso2-title
  .md4
    text-align center
.cotizacion-paso2-descrip-check
  text-align center
